html { font-size: 62.5%; }
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: black; }
li { list-style: none; }


section {
  height: 100vh;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-align: center;
}
