html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: #fff;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}


.swiper {
  width: 100%;
  margin-top: 8rem;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  font-size: 2rem;
  height: 300px; 
}


.swiper-slide img {
  width: 100%;
  max-width: 20rem;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  transition: transform 0.3s ease;
}


.swiper-slide img:hover {
  transform: scale(1.05);
}
